<div class="panel-group" id="{{panelId}}">

	<div class="panel panel-default" ng-repeat-start="item in ngModel | startFrom: ngModel.currentPage * ngModel.pageSize | limitTo: ngModel.pageSize">

		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#{{panelBaseId}}-{{$index}}" ng-click="toggleCollapsedStates($index)">{{item.industry}}</a></h4>
		</div>
<div id="{{panelBaseId}}-{{$index}}" data-parent="#{{panelId}}" class="panel-collapse collapse">
	<div class="panel-body">{{item.description}} {{ngModel.pageSize}}
		<br/>
		<a href="{{item.url}}" style="color: blue" target="_blank">See the statute.</a>
	</div>
</div>
	</div>
	<div ng-repeat-end>	</div>

</div>
