<div id="{{panelId}}" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<!--The href of the data toggle a element must match the id of the div of class=panel-collapse-->
				<a data-toggle="collapse" data-parent="#{{panelId}}" href="#{{panelBaseId}}-1">Panel Title 1</a>
			</h4>
		</div>

	<div id="{{panelBaseId}}-1" class="panel-collapse collapse">
		<div class="panel-body">Here is the body of the panel.</div>
	</div>
	</div>
</div>
